.w100 {
  width: 100%;
}

.one {
  background-image: url("../../assets/back.svg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  row-gap: 10px;
  height: 335px;
  width: 100%;
}

.one > h2 {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #141718;
}

.one > p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #141718;
}

.one > form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #141718;
  background-color: transparent;
}

.one > form > input {
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  border: none;
  color: #6c7275;
  width: 400px;
  margin-left: 8px;
}

.size {
  font-size: 24px;
}

.sgnup {
  font-weight: 500;
  font-size: 16px;
  color: #6c7275;
  background-color: transparent;
  border: none;
}
